<main>
  <section class="intro-section">
    <div class="intro-container">
      <div class="image-container">
        <img src="assets/fondo.jpeg" alt="Imagen catálogo" />
      </div>
      <div class="text-container">
        <h2>¿Por qué utilizar nuestra aplicación de Catálogo de Productos?</h2>
        <p>
          Nuestra aplicación de catálogo te permite organizar, visualizar y gestionar todos tus productos de manera eficiente.
          Es la herramienta ideal para pequeñas y grandes empresas que desean mantener su inventario al día y ofrecer a sus
          clientes una forma clara y ordenada de explorar productos.
        </p>
      </div>
    </div>

    <div class="intro-container reverse">
      <div class="text-container">
        <h2>Beneficios clave de nuestra aplicación</h2>
        <p>
          Con nuestra solución, puedes filtrar productos por categorías, precios y agregar productos favoritos. Además, la
          interfaz intuitiva facilita la gestión y búsqueda de productos de manera rápida y eficiente, ahorrándote tiempo en
          la administración de inventarios.
        </p>
      </div>
      <div class="image-container">
        <img src="assets/imagenheader.jpeg" alt="Beneficios aplicación" />
      </div>
    </div>
  </section>
</main>
