<div class="favoritos-list">
    <h1>Lista de Favoritos</h1>
    <div *ngIf="favorites.length === 0">
        <h2>No hay productos</h2>
    </div>

    <div class="table-container" *ngIf="favorites.length > 0">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of favorites; let i = index">
                    <td>{{ product.name }}</td>
                    <td>${{ product.price }}</td>
                    <td>{{ product.category }}</td>
                    <td>
                        <button (click)="removeFromFavorites(i)">Quitar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-footer">
        <p>Total de productos: {{ favorites.length }}</p>
    </div>
</div>
